html, body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: bisque;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav ul li a{
    color: olivedrab;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover {
    background-color: rgb(255, 217, 90);
    border-radius: 5px;
}